h1
{
text-align: center;
}
body
{
background-color: #011627;
color:#fdfffc;
text-align: center;
font-family: 'Noto Serif', serif;
}
img
{
text-align: center;

}
button
{
  background-color: #ff9f1c;
  height: 40px;
  width:170px;
  border-radius: 25px;

}
input
{




border-radius: 25px;
height:25px;



}
h3
{
color:#ff9f1c;

}
